
footer {
    background-color: #110037;
    font-family: 'Montserrat', sans-serif;
    color: white;
    padding: 20px;
    text-align: center;
}

footer form {
    margin-bottom: 20px;
}

footer input[type="email"] {
    padding: 10px;
    margin-right: 10px;
}

footer .redes-sociales a {
    margin: 0 10px;
    color: white;
    text-decoration: none;
}

footer .mapa {
    margin-top: 20px;
}